/* Header and logo */
header {
    background: #ecd8ba;
    height: 70px;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    text-align: center;
  }
  
  #logo {
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 18px;
  }
  
  /* Navigation bar */
  .bar_nav {
    margin: 0px;
    background: #eeeae4;
    text-align: center;
  }
  
  .bar_nav ul {
    margin: 0px;
    padding-right: 0px;
    display: inline-block;
  }
  
  .bar_nav ul li {
    display: inline-block;
    margin-top: 40px;
    font-size: 20px;
  }
  
  .bar_nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }
  
  .bar_nav ul li a:hover {
    background: #ecd8ba;
  }
  
  .user_img {
    height: 35px;
    width: 35px;
    float: right;
    margin-top: 1em;
    margin-right: 25px;
    margin-left: -75px;
  }
  