  * {
    margin: 0;
    padding: 0;
  }

  /* Header and logo */
  header {
    background: #ecd8ba;
    height: 70px;
    width: 100%;
    /* hacemos que la cabecera ocupe el ancho completo de la página */
    text-align: center;
  }

  #logo {
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 18px;
  }

  /* Navigation bar */
  .bar_nav {
    margin: 0px;
    background: #eeeae4;
    text-align: center;
  }

  .bar_nav ul {
    margin: 0px;
    padding-right: 0px;
    display: inline-block;
  }

  .bar_nav ul li {
    display: inline-block;
    margin-top: 40px;
    font-size: 20px;
  }

  .bar_nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
  }

  .bar_nav ul li a:hover {
    background: #ecd8ba;
  }

  .user_img {
    height: 35px;
    width: 35px;
    float: right;
    margin-top: 1em;
    margin-right: 25px;
    margin-left: -75px;
  }

  /* Title Pages */
  .title {
    width: 100%;
    height: 45em;
    background: linear-gradient(to right, #eeeae4a0, hsla(300, 3%, 6%, 0.664)), url(imagenes/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .title .wave {
    position: absolute;
    bottom: 0%;
    width: 100%;
    fill: #f9f7f2;
    height: 150px;
    margin-bottom: -1px;
    /*Fix for safari gap*/
  }

  .title .wave svg {
    height: 100%;
    width: 100%;
  }

  .title h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  /* Footer */
  #footer-grid {
    background-color: #ecd8ba;
    color: #000000;
    font-size: 1em;
    margin: 0;
    padding: 2em;
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }

  .footer-logo img {
    height: 6em;
  }

  footer h3 {
    color: #000000;
  }

  .footer-opciones ul li h3 {
    color: #000000;
    padding: 0.3em;
    height: 1em;
  }

  footer ul {
    list-style-type: none;
  }

  footer ul li a {
    text-decoration: none;
    color: #000000;
  }

  .footer-opciones ul li a h3:hover {
    cursor: pointer;
    color: #a56d1a;
  }

  footer ul li a h3 {
    text-align: left;
  }

  .copy {
    text-align: center;
    background-color: #000;
    padding: 1em;
    color: #fff;
  }

  .copy p {
    font-size: 1em;
  }

  /* Body styles*/
  body {
    background-color: #f9f7f2;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  h1 {
    font-family: verdana;
    text-align: center;
    font-size: 80px;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: verdana;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }

  /* Distribucion 2 css */
  .item {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .item:hover {
    opacity: 50%;
    transition: all .5s;
  }

  .introText {
    font-family: verdana;
    font-size: 15px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
  }

  .txtCentrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: verdana;
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  /* Card */
  .card {
    background: #aeaeae;
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    margin-left: 10%;
  }

  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 100%;
    display: block;
    margin-left: -3em;
  }

  .card .contenido-texto-card {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

  .card .contenido-texto-card p {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    text-justify: inter-word;
    font-size: 15px;
  }

  #contactCards {
    margin-left: 0;
  }

  /* Button */
  .btn {
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    cursor: pointer;
    transition: all .5s;
    width: 50%;
    margin-left: 25%;
  }

  .btn:hover {
    background: #78788c;
    color: #fff;
  }

  /* Form CSS */
  .formCont {
    margin-left: 2em;
    margin-bottom: 1em;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
  }

  .formCont h2 {
    margin: 1em 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    color: #78788c;
    border-bottom: 3px solid #78788c;
  }

  .formCont input,
  .formCont textarea,
  #combo {
    width: 100%;
    display: block;
    padding: 1em;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #bebed2;
  }

  .formCont input:focus,
  .formCont textarea:focus,
  #combo:focus {
    border-bottom: 2px solid #78788c;
  }

  .formCont p,
  #combo {
    display: block;
    margin-left: 1em;
    padding-bottom: 1em;
    font-size: 14px;
    color: #5a5a5a;
  }

  .formCont textarea {
    width: 100%;
    height: 150px;
    display: block;
  }

  .formCont #estrella_valoracion {
    font-size: 25px;
  }

  #combo {
    width: 95%;
    margin-bottom: 1em;
  }

  /* FAQ CSS */
  details {
    background: #eeeae4;
    padding: 1em 1em;
    border-radius: 7px;
    margin: 1em;
    font-size: 14px;
    cursor: pointer;
  }

  details summary {
    outline: none;
    font-size: 20px;

  }

  details p {
    font-size: 16px;
  }

  details summary div {
    display: inline-block;
    font-size: 25px;
  }

  details summary .estrellas {
    margin-left: 0, 5em;
  }

  /* CSS página Inicio de sesión */

  .logIn {
    width: 23em;
    margin: 3em;
    padding: 3em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .logIn form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .logIn input[type="email"],
  .logIn input[type="password"],
  .logIn input[type="text"],
  .logIn input[type="number"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .logIn input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
  }

  .logIn input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .logIn h2 {
    font-size: 2em;
  }

  .logIn h5 {
    text-align: center;
    margin-top: 1em;
  }

  /* Página Usuario */
  .usercard {
    justify-items: center;
    text-align: center;
    background: #aeaeae;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    margin-top: 2em;
    margin-left: 5%;
    margin-bottom: 2em;
  }

  .usercard img {
    width: 100px;
    height: 100px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    margin-top: 1em;

  }

  .usercard .contenido-texto-card-usuario {
    color: #fff;

  }

  .usercard .contenido-texto-card-usuario p {
    color: #fff;
    margin-bottom: 1em;
  }

  .usercard .contenido-texto-card-usuario .alergenos {
    text-align: justify;
    padding-bottom: 2em;
    padding-left: 25%;
    padding-right: 25%;
  }

  .cita,
  .logout {
    font-size: 2em;
  }

  .cita:hover {
    background: #1c811c;
    color: #fff;
  }

  .logout:hover {
    background: #ac1b04;
    color: #ffffff;
  }

  /* Layouts creados */
  .layoutCenter {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  /*Grid section*/
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin: 2em 2em 2em 2em;
    grid-auto-flow: row dense;
  }

  .grid_2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin: 2em 2em 2em 2em;
    grid-auto-flow: row dense;
  }

  .item-colS1 {
    grid-column: span 1;
  }

  .item-colS2 {
    grid-column: span 2;
  }

  .item-col3-rowS2 {
    grid-column: 3;
    grid-row: span 2;
  }

  .item-col3-rowS7 {
    grid-column: 3;
    grid-row: span 7;
  }

  /* Media Queries */
  /* Extra Small Devices and Phones */
  @media only screen and (max-width: 319px) {

    /* Grid */
    .grid {
      grid-template-columns: 1fr;
      margin: 1em;
    }

    .grid_2col {
      grid-template-columns: 1fr;
    }

    .item-colS2,
    .item-col3-rowS2,
    .item-col3-rowS7 {
      grid-column: span 1;
    }

    /* Header and logo */
    header {
      text-align: left;
    }

    #logo {
      height: 3.5em;
      width: auto;
      margin-top: 0.5em;
    }

    /* Title Pages */
    .title {
      display: none;
    }

    /* Navigation bar */
    .bar_nav ul li {
      display: block;
      font-size: 1.5em;
      margin-top: 0em;
    }

    /* Footer */
    #footer-grid {
      display: grid;
      grid-template-columns: 1fr;
      padding: 1em;
      gap: 0;
    }

    .footer-logo img {
      height: 4em;
      width: 8em;
    }

    .footer-opciones ul li h3 {
      font-size: 1.2em;
      margin: 0;
    }

    .cookies {
      display: none;
    }

    .copy p {
      font-size: 0.8em;
    }

    /* Form CSS */
    .formCont {
      margin-left: 0;
      padding: 0.5em;
    }

    .formCont h2 {
      margin: 1em 0.5em;
      font-size: 1.5em;
    }

    .formCont p {
      margin-left: 0.5em;
    }

    /* Body styles*/
    h2 {
      font-size: 1.5em;
    }

    /* Card */
    .card {
      width: 90%;
    }

    #contactCards {
      width: 100%;
    }

    .card img {
      width: 5em;
      height: 5em;
      margin-left: -2em;
    }

    /* Button */
    .btn {
      width: 70%;
      margin-left: 15%;
      font-size: 1em;
    }

    /* CSS página Inicio de sesión */

    .logIn {
      width: 65%;
      margin: 4em 0.2em 4em 0.2em;
      padding: 2em;
    }

    .logIn input[type="email"],
    .logIn input[type="password"],
    .logIn input[type="text"],
    .logIn input[type="number"] {
      width: 90%;
    }

    .logIn input[type="submit"] {
      width: 80%;
      margin-left: 10%;
      font-size: 1em;
    }

    .logIn h5 {
      font-size: 1em;
    }

    .logIn h2 {
      font-size: 1.75em;
    }

    .logIn label {
      font-size: 1em;
    }

    /* Página Usuario */
    .cita,
    .logout {
      font-size: 1.5em;
      width: 100%;
      margin-left: 0;
    }

    .usercard .contenido-texto-card-usuario p {
      font-size: 13px;
      color: #fff;
      margin-bottom: 1em;
    }

    .usercard .contenido-texto-card-usuario h3 {
      font-size: 20px;
    }

    .usercard .contenido-texto-card-usuario .alergenos {
      padding-left: 10%;
      padding-right: 10%;
    }

  }

  /*Small Devices and Phones */
  @media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Grid */
    .grid {
      grid-template-columns: 1fr;
    }

    .item-colS2,
    .item-col3-rowS2,
    .item-col3-rowS7 {
      grid-column: span 1;
    }

    /* Header and logo */
    #logo {
      height: 3.5em;
      width: auto;
      margin-top: 0.5em;
    }

    /* Title Pages */
    .title {
      display: none;
    }

    /* Navigation bar */
    .bar_nav ul li {
      display: block;
      font-size: 1.5em;
      margin-top: 0em;
    }

    /* Footer */
    #footer-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1em;
      gap: 0;
    }

    .footer-logo img {
      height: 4em;
      width: 8em;
    }

    .footer-opciones ul li h3 {
      font-size: 1.2em;
      margin: 0;
    }

    .cookies {
      display: none;
    }

    .copy p {
      font-size: 0.8em;
    }

    /* Form CSS */
    .formCont {
      margin-left: 0;
      padding: 0.5em;
    }

    .formCont h2 {
      margin: 1em 0.5em;
      font-size: 1.5em;
    }

    /* Body styles*/
    h2 {
      font-size: 1.5em;
    }

    /* Card */
    .card {
      width: 90%;
    }

    #contactCards {
      width: 100%;
    }

    .card img {
      width: 5em;
      height: 5em;
    }

    /* Button */
    .btn {
      width: 70%;
      margin-left: 15%;
      font-size: 1em;
    }

    /* CSS página Inicio de sesión */

    .logIn {
      width: 65%;
      margin: 4em 0.2em 4em 0.2em;
      padding: 2em;
    }

    .logIn input[type="email"],
    .logIn input[type="password"],
    .logIn input[type="text"],
    .logIn input[type="number"] {
      width: 90%;
    }

    .logIn input[type="submit"] {
      width: 80%;
      margin-left: 10%;
      font-size: 1.5em;
    }

    .logIn h5 {
      font-size: 1em;
    }

    .logIn label {
      font-size: 1.5em;
    }

    /* Página Usuario */
    .cita,
    .logout {
      font-size: 1.5em;
      width: 100%;
      margin-left: 0;
    }

    .usercard .contenido-texto-card-usuario .alergenos {
      padding-left: 10%;
      padding-right: 10%;
    }

  }

  /* Tablets */
  @media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Grid */
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid-distribution1 {
      grid-template-columns: 1fr;
      gap: 1em;
    }

    .grid_tablet_distribution1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    /* Footer */
    #footer-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1em;
      gap: 0;
    }

    #footer-grid .cookies {
      grid-column: span 2;
    }

    .footer-opciones ul li h3 {
      font-size: 1.7em;
      margin: 0;
    }

    /* Navigation bar */
    .bar_nav ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .card img {
      width: 5em;
      height: 5em;
    }

    /* Style distribution  1*/
    .grid-distribution1 .img-distribution1 img{
      width: 100%;
      height: auto;
    }

    .grid-distribution1 .img-distribution1{
      text-align: center;
    }

    

    .grid-distribution1 h2{
      font-size: 30px;
    }

    .grid-distribution1 p{
      font-size: small;
      margin: 0px;
    }



  }