*{
    margin: 0;
    padding: 0;
}

header {
    background: #ecd8ba;
    height: 70px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    text-align: center;
}

.bar_nav {
    margin: 0px;
    background: #eeeae4;
}

.bar_nav ul {
    margin: 0px;
    padding-right: 0px;
    text-align: center;
}

.bar_nav ul li {
    display: inline-block;
    margin-top: 40px;
    font-size: 20px;
}

.bar_nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.bar_nav ul li a:hover {
    background: #ecd8ba;
}

#logo{
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-top: 18px;
}

.pie-pagina{
    width: 100%;
}

.pie-pagina .grupo-1 a img{
    width: 80px;
    float: right;
}

.pie-pagina .grupo-1 .nav_footer ul a li{
    color: white;
    list-style: none;
    font-size: 20px;
    text-align: left;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.pie-pagina .grupo-1 .nav_footer ul a li:hover{
    color: #ecd8ba;
}

.pie-pagina .grupo-1{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo-1 small{
    font-size: 15px;
}

body {
    background-color: #f9f7f2;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
  }

.item1-l {
    grid-column: 1;
  }
  
.item2-r {
    grid-column: 2/4;
}

.item {
    position: relative;
    display: inline-block;
    text-align: center;
  }

.introText {
    font-family: verdana;
    font-size: 15px;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
  }

  .txtCentrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: verdana;
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
  
  h1 {
    font-family: verdana;
    text-align: center;
    font-size: 80px;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-family: verdana;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  

  .card{
    background: #aeaeae;
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    margin-left: 10%;
  }

  .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 100%;
  display: block;
  margin-left: -15%;
}

.card .contenido-texto-card{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .card .contenido-texto-card p{
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    text-justify: inter-word;
    font-size: 15px;
  }

  .btn{
    padding:8px 12px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    cursor: pointer;
    transition:all .5s;
    width: 50%;
    margin-left: 25%;
  }
  
  .btn:hover{
    background:#78788c;
    color:#fff;
  }

  .header2 {
    width: 100%;
    height: 45em;
    background: linear-gradient(to right, #eeeae4a0, hsla(300, 3%, 6%, 0.664)), url(imagenes/img1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  
  .header2 .wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
    fill: #f9f7f2;
    height: 150px;
    margin-bottom:-1px; /*Fix for safari gap*/
  }
  
  .header2 .wave svg{
    height: 100%;
    width: 100%;
  }

  .header2 h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }