          <div class="layoutCenter">
          <section class="logIn">
                <h2>Registrarse</h2>
                
                <form name="form" [formGroup]="singupForm" (ngSubmit)="validateForm()">
                    <label>Nombre de Usuario:</label>
                    <input type="text" name="userName" formControlName="userName">
                    <div *ngIf="singupForm.get('userName')?.touched && singupForm.get('userName')?.errors?.['required']">
                        El campo de nombre de usuario es obligatorio.
                    </div>
                    <div *ngIf="singupForm.get('userName')?.errors?.['minlength']" class="error">El nombre de usuario es demasiado corto. </div>
                    <div *ngIf="singupForm.get('userName')?.errors?.['maxlength']" class="error">El nombre es usuario es demasiado largo. </div>

 
                    <label>Correo:</label>
                    <input type="email" id="email_register" formControlName="userEmail">
                    <div *ngIf="singupForm.get('userEmail')?.touched && singupForm.get('userEmail')?.errors?.['required']">
                        El campo de correo electrónico es obligatorio.
                    </div>
                    <div *ngIf="singupForm.get('userEmail')?.errors?.['pattern']" class="error">Introduzca un correo electrónico válido. </div>
                   
                    <label >Número de teléfono:</label>
                    <input id="tlfn_register" formControlName="phoneNumber">
                    <div *ngIf="singupForm.get('phoneNumber')?.touched && singupForm.get('phoneNumber')?.errors?.['required']">
                        El campo de número de teléfono es obligatorio.
                    </div>
                    <div *ngIf="singupForm.get('phoneNumber')?.errors?.['pattern']" class="error">Introduzca un número de teléfono válido. </div>

                    <label >NIF/DNI:</label>
                    <input id="dni" formControlName="userDNI">
                    <div *ngIf="singupForm.get('userDNI')?.touched && singupForm.get('userDNI')?.errors?.['required']">
                        El campo de DNI es obligatorio.
                    </div>
                    <div *ngIf="singupForm.get('userDNI')?.errors?.['pattern']" class="error">Introduzca un DNI válido. </div>

                    <label >Contraseña:</label>
                    <input id="passwd1" type="password" formControlName="password">
                    <div *ngIf="singupForm.get('password')?.touched && singupForm.get('password')?.errors?.['required']">
                        El campo de la contraseña es obligatorio.
                    </div>
                    <div *ngIf="singupForm.get('password')?.errors?.['minlength']" class="error">Contraseña demasiado corta. </div>

                    <!---
                    <label >Repetir Contraseña:</label>
                    <input id="passwd2" type="password" formControlName="password">
                    -->
                    <input  type="submit" id="send_register" value="Registrarse">

                </form>
                   
            </section>
            </div>