<!-- Esta distribución está compuesta por una imagen, título y un texto descriptivo. La imagen ocupa 1/3 de la
página mientras que el título y el texto descriptivo ocupan los 2/3 restantes -->
<template id="dist_1">
    <article class="grid grid-1col">
        <figure class="item-colS1 img-distribution1">
            <img src="imagenes/img1.jpg" width="100%" height="100%">
        </figure>
        <section class="item-colS2">
            <h2>Título</h2>
            <p class="introText">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Iste deleniti doloribus perspiciatis. Recusandae quibusdam
                doloribus quae molestiae voluptatem. Dolorem saepe nisi perspiciatis
                doloremque, suscipit odio iste doloribus quia laborum consequatur est
                accusamus blanditiis ea voluptatem eligendi ratione natus laboriosam dolor!
            </p>
        </section>
    </article>
</template>