<!-- Esta distribución está compuesta por una imagen, texto descriptivo y un botón. La imagen ocupa 1/3 de la
página mientras que el texto descriptivo y el botón ocupan los 2/3 restantes -->
<div class="grid">
    <div class="item1-l">
        <img src="imagenes/img1.jpg" width="100%" height="100%">
    </div>
    <div class="item2-r">
        <p class="introText">
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí 
            insertar texto aquí insertar texto aquí insertar texto aquí insertar texto aquí
        </p>
        <a href="#"><button class="btn"><b>Pida cita</b></button></a>
    </div>
</div>