<footer class="pie-pagina">
    <div class="grupo-1"> 
        <nav class="nav_footer">
            <ul>
                <a href="faq.html"><li>FAQ</li></a>
                <a href="#"><li>Valoraciones</li></a>
            </ul>
        </nav>
        <a href="main.html">
            <img src="imagenes/logo LMR blanco sin fondo bueno.png" alt="Logo de Clínica Estética">
        </a>
    </div>
    <div class="grupo-1">
        <small>&copy; 2023 <b>Clínica Estética</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>