<footer>
    <article class="grid" id="footer-grid">
        <figure class="footer-logo item-colS1">
            <a href="main.html"><img src="imagenes/logo LMR sin fondo.png" alt="Logo de Clínica Estética"></a>
        </figure>
        <section class="footer-opciones item-colS1">
            <ul>
                <li><a href="FAQ.html"><h3>FAQ</h3></a></li>
                <li><a href="reviews.html"><h3>VALORACIONES</h3></a></li>
            </ul>
        </section>
        <section class="cookies item-colS1" id="cookies">
            <h3>Política de Cookies</h3>
            <p>Nuestra página web utiliza cookies para mejorar la experiencia del usuario. Si continúa navegando, consideramos que acepta su uso.</p>
        </section>
    </article>
    <article class="copy">
        <p>&copy; 2023 Clínica Estética. Todos los derechos reservados.</p>
    </article>
</footer>