<section class="grid_2col">
    <button class="btn2 cita" (click)="pedirCita()"><b>Pedir cita</b></button>
    <button class="btn2 logout" (click)="logout()"><b>Logout</b></button>
</section>
<article class="usercard" *ngIf="aparece">
    <img [src]="!imagenpropia ? 'https://firebasestorage.googleapis.com/v0/b/proyecto-clinica-estetic-93780.appspot.com/o/user_icon2.png?alt=media&token=44a05f1e-2575-43b8-b3c3-7fdd79f20f88' : imagendelUsuario">
    <section class="contenido-texto-card-usuario">
        <h2 id="user_name" >{{informacionUsuario.userName}}</h2>
        <h3>Correo electrónico:</h3>
        <p id="user_email"> {{informacionUsuario.userEmail}}</p>
        <h3>Número de Teléfono:</h3>
        <p id="user_phone">{{informacionUsuario.phoneNumber}}</p>
        <h3>NIE/NIF:</h3>
        <p id="user_dni" > {{informacionUsuario.userDNI}}</p>
        <h3>Alergias:</h3>
        <p class="alergenos">{{informacionUsuario.Alergias}}</p>
        <h4><b>Cambiar imagen de usuario</b></h4>
        <input type="file" (change)="uploadImageUser($event)">
    </section>
</article>